<main class="bg-dark-950" data-controller="scroll-reveal">
  <%= render "shared/navbar" %>

  <%= render "home/sections/hero" %>

  <div class="gradient-line" data-scroll-reveal-target="line"></div>

  <%= render "home/sections/about" %>

  <div class="gradient-line" data-scroll-reveal-target="line"></div>

  <%= render "home/sections/village" %>

  <div class="gradient-line" data-scroll-reveal-target="line"></div>

  <%= render "home/sections/solong" %>

  <div class="gradient-line" data-scroll-reveal-target="line"></div>

  <%= render "home/sections/pushswap" %>

  <div class="gradient-line" data-scroll-reveal-target="line"></div>

  <%= render "home/sections/printf" %>

  <div class="gradient-line" data-scroll-reveal-target="line"></div>

  <%= render "home/sections/projects" %>

  <div class="gradient-line" data-scroll-reveal-target="line"></div>

  <%= render "home/sections/contact" %>

  <%= render "shared/footer" %>
</main>
